@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@1,700&family=Mooli&display=swap');

body {
    background-color: black;
    color: white;
}

.container {
    background-color: rgb(48, 46, 46, 0.815);
  
    border-radius: 15px;
    margin: 45px;
    
}

.container article{
    text-align: justify;
    margin: 12px 25px;
}
.container article ul li{
    line-height: 30px;
}
h1 {
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    text-align: center;
}

h1 span {
    color: red;
}

img {
    width: 18em;
    border-radius: 35px;
}

.stanlee-img {
    text-align: center;
}

h2 {
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    color: #Ff0000;
}
.container footer{
    text-align: center;
    padding: 0 3rem;
    padding-bottom: 0.3rem;
}
.container footer button{
    border: 2px solid orange;
    background-color: black;
    color: white;
    height: 50px;
    width: 85px;
    border-radius: 8px;
}
.container footer button:hover{
 color: red;
 background-color: rgb(48, 46, 46, 0.815);  
}